@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    justify-content: space-around;
}

#userForm {
    background-color: #eeeeee;
    padding: 1rem;
    border: 1px solid #e3e3e3;
}

label {
    display: block;
}